<ion-content>
  <!--Header-->
  <div class="header">
    <h1>Air Purifying Tree</h1>
  </div>
  <p>ต้นไม้ฟอกอากาศ</p>


  <div class="avater">
    <ion-img src="assets/images/image_1.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p>ต้นพลูด่าง</p>
  </div>
  <p> พลูด่าง เป็นพืชไม้เลื้อยที่ปลูกง่ายมาก และใช้เวลาในการเจริญเติบโตไม่นาน
    ลำต้นทนทานต่อสภาพอากาศในประเทศไทยได้เป็นอย่างดี
    ถือเป็นไม้มงคลที่นิยมปลูกในบ้านเพราะเชื่อว่าจะช่วยให้ชีวิตราบรื่นเป็นสุข มีคนมารักมีคนมาหลง
    นอกจากนี้ยังสามารถดูดซับก๊าซคาร์บอนไดออกไซด์ได้มากถึง 75% และยังสามารถคายก๊าซออกซิเจนในเวลากลางวัน
    ได้ถึง 100% จึงเหมาะสำหรับการนำมาปลูกภายในบ้านเป็นต้นไม้ฟอกอากาศชั้นดี
    วิธีการดูแลรักษาพลูด่าง เนื่องจากพลูด่างปลูกได้หลายวิธีตามสายพันธุ์
    แต่โดยรวมเป็นพืชที่ไม่ต้องการแสงมากนักจึงเหมาะกับการปลูกในอาคาร หากปลูกบนดินควรรดน้ำ 3 ครั้งต่อวัน
    หากปลูกในน้ำควรเปลี่ยนน้ำเดือนละครั้ง</p>

  <div class="avater">
    <ion-img src="assets/images/image_2.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p> ลิ้นมังกร</p>
  </div>
  <p>ลิ้นมังกร หรืออีกชื่อหนึ่งคือหอกพระอินทร์ เป็นอีกหนึ่งไม้ประดับที่ปลูกและดูแลรักษาได้ง่าย
    รวมทั้งยังมีคุณประโยชน์หลากหลาย
    และมีความพิเศษกว่าต้นไม้พันธุ์อื่น เนื่องจากเป็นพืชที่คายก๊าซออกซิเจนในเวลากลางคืน
    แต่จะคายก๊าซคาร์บอนไดออกไซด์ในตอนกลางวัน จึงเหมาะสำหรับการปลูกในห้องนอน
    นอกจากนี้ยังเป็นต้นไม้ฟอกอากาศให้ปราศจากฝุ่นละลองอีกด้วย
    วิธีการดูแลรักษาลิ้นมังกรนั้นง่ายมาก เพราะขึ้นชื่อเรื่องความทนทายาดเป็นอย่างมาก
    สามารถปลูกในพื้นที่ที่แดดแรงจัดได้ แต่ห้ามรดน้ำมากเกินไป อาจจะเพียงวันเว้นวัน และไม่ให้แฉะจนเกินไป
    เพราะอาจทำให้ต้นไม้ตายได้</p>

  <div class="avater">
    <ion-img src="assets/images/image_3.jpg"></ion-img>
  </div>

  <div class="taxe">
    <p>ว่านหางจระเข้</p>
  </div>
  <p>ว่านหางจระเข้ ต้นไม้ฟอกอากาศ
    ไม้ประดับมากสรรพคุณที่นอกจากจะใช้ดูแลรักษาแผลผุพองได้ดีจนถึงใช้ประโยชน์ในเรื่องความสวยความงามแล้ว
    ยังเป็นไม้ประดับที่สามารถปลูกในห้องนอนได้เนื่องจากเป็นพืชที่คายก๊าซออกซิเจนในเวลากลางคืน
    นอกจากนี้ยังช่วยฟอกอากาศในบ้านให้ปราศจากฝุ่น รวมถึงมีประสิทธิภาพในการดูดสารพิษจำพวกฟอร์มาลดีไฮด์
    ซึ่งพบในสารเคลือบต่าง ๆ ทั้งยาทาเล็บ ยาเคลือบเฟอร์นิเจอร์ และสีทาบ้าน
    วิธีการดูแลรักษาว่านหางจระเข้ ควรตั้งในพื้นที่ที่มีแดดอย่างน้อย 6 ชั่วโมงต่อวัน
    ควรระวังเรื่องการรดน้ำปริมาณมากเกินไป และทำให้น้ำขัง เพราะจะทำให้ต้นเน่าและตายได้</p>


  <div class="avater">
    <ion-img src="assets/images/image_4.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p>เดหลี</p>
  </div>
  <p>ต้นเดหลีเป็นไม้ล้มลุก ที่มีจุดเด่นทั้งเรื่องกลิ่นหอมและยังมีดอกสวยงาม
    โดยต้นเดหลีเหมาะจะเป็นต้นไม้ฟอกอากาศที่นำมาปลูกในบ้านเนื่องจากมีความสามารถในการดูดซับสารพิษในบ้านได้ด้วย
    โดยช่วยดูดสารพิษประเภทกาว อะซิโตนซึ่งมีอยู่ในเครื่องสำอาง น้ำยาทาเล็บ น้ำยาลบคำผิด สารไตรคลอโรเอทีลีน
    ซึ่งมีอยู่ในเครื่องพิมพ์ เครื่องถ่ายเอกสาร เตาแก๊ส
    น้ำยาเคลือบเงาไม้ รวมทั้งเบนซินและฟอร์มาลดีไฮด์
    วิธีการดูแลรักษาเดหลี ควรรดน้ำเป็นประจำอย่างน้อยวันละ 2 ครั้ง ให้เพียงหน้าดินชุ่ม ควรตั้งอยู่ในพื้นที่ที่แสงรำไร
    และอากาศไม่ร้อนมาก</p>


  <div class="avater">
    <ion-img src="assets/images/image_5.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p>กล้วยไม้</p>
  </div>
  <p>กล้วยไม้นอกจากจะขึ้นชื่อเรื่องความสวยงามแล้ว ยังมีความพิเศษกว่าต้นไม้ชนิดอื่นตรงที่เป็นต้นไม้ฟอกอากาศด้วย
    โดยกล้วยไม้มีความสามารถในการดูดก๊าซคาร์บอนไดออกไซด์ได้อย่างมีประสิทธิภาพและสามารถคายก๊าซออกซิเจนได้ในปริมาณมากในแต่ละวัน
    โดยเฉพาะกล้วยไม้สกุลหวาย สามารถดูดไอระเหยจากสารเคมีจำพวกแอลกอฮอล์ อะซิโตน ฟอร์มาลดีไฮด์
    และคลอโรฟอร์มจากอากาศได้ดีเป็นพิเศษด้วย
    วิธีการดูแลรักษากล้วยไม้ ควรตั้งหรือแขวนไว้ในพื้นที่ที่มีแดดรำไร และรดน้ำเพียงวันละ 1 ครั้งก็เพียงพอ</p>

  <div class="avater">
    <ion-img src="assets/images/image_6.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p>เยอบีร่า</p>
  </div>
  <p>เยอบีร่าเป็นไม้ประดับที่มีขนาดเล็กและออกดอกสวยงาม เหมาะกับการนำมาประดับตกแต่งห้องต่าง ๆ ภายในบ้านหรือคอนโด
    ซึ่งนอกจากจะให้ความสวยงามแบบเฉพาะตัวแล้ว ยังเป็นต้นไม้ฟอกอากาศ ช่วยดูดก๊าซคาร์บอนไดออกไซด์ ทำให้อากาศสดชื่นตลอดวัน
    วิธีการดูแลรักษาเยอบีร่า ทำได้ง่าย ๆ เพียงตั้งทิ้งไว้ในที่ที่มีแดด และรดน้ำปานกลาง อย่าให้แฉะจนเกินไป</p>

  <div class="avater">
    <ion-img src="assets/images/image_7.jpg"></ion-img>
  </div>
  <div class="taxe">
    <p>เบญจมาศ</p>
  </div>
  <p>เบญจมาศคือ ไม้ดอกที่มีความต้องการทางเศรษฐกิจมากที่สุดเป็นอันดับสองของโลก รองจากกุหลาบ
    เบญจมาศโดยเฉพาะส่วนของดอกจะมีรูปลักษ์ภายนอกและสีได้หลายแบบตามสายพันธุ์
    จุดเด่นของเบญจมาศคือเป็นต้นไม้ฟอกอากาศที่เป็นมลพิษ อย่างกลิ่นจากสีทาบ้าน กาว พลาสติก และผงซักฟอก
    ให้กลายเป็นอากาศบริสุทธิ์ได้
    วิธีการดูแลรักษาต้นเบญจมาศ แค่วางให้โดนแสงแดด เช่น ริมหน้าต่าง และหมั่นรดน้ำเป็นประจำ
    เนื่องจากเบญจมาศเป็นพืชที่ต้องการน้ำมาก เพราะใบมีการคายน้ำสูง</p>

 
    <div class="header">
    <h2>ข้อมูลเพิ่มเติม </h2></div>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label >
          <p (click)="changepage1()"> {{ p.title1 }}</p>
          <p (click)="changepage2()"> {{ p.title2 }} </p> 
          <p (click)="changepage3()">{{ p.title3 }}</p>
        </ion-label>    
      </ion-item>
    </ion-menu-toggle>
    <div class="header">
      <h1>ให้คำแนะนำ</h1>
    </div>   
    <ion-list>
      <ion-item-sliding *ngFor="let tmp of this.stdobj">
        <ion-item>
          <ion-label>
            <h2>{{tmp.gettreename}}</h2>
            <p>
              {{tmp.getcomment}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="presentConfirmDEL(this.tmp.getid)">
            <ion-icon name="trash"></ion-icon>Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-button (click)="presentPromptAdd()" padding = "30px" icon-start>
      <ion-icon name="add"></ion-icon>
      <p>เพิ่มคำแนะนำ</p><div></div>
    </ion-button>
  </ion-content>