@font-face {
    font-family: NotoSansThai;
    src: url(../assets/fonts/NotoSansThai-Black.ttf);

}
@font-face {
    font-family:  NotoSansThai;
    src: url(../assets/fonts/NotoSansThai-Light.ttf);
}
@font-face {
    font-family:  NotoSansThai;
    src: url(../assets/fonts/NotoSansThai-Medium.ttf);
}